.signup-container1 {
  width: 100%;
  height: calc(100vh - 250px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.prompt1 {
  min-width: 20%;
  min-height: 30%;
  background: #ffff;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.items1 {
  margin: 10px 0px;
}

.items1 > input {
  padding: 10px;
  outline: none;
  border-radius: 5px;
  opacity: 0.5;
  border: 2px solid rgba(169, 169, 169, 0.5);
}

.submit-button1 {
  width: 150px;
  margin: 10px auto;
  padding: 10px;
  border: none;
  border-radius: 15px;
  background: yellow;
  cursor: pointer;
}
